primary-font-family = "Helvetica Neue", Helvetica, Arial, sans-serif
primary-icons-font-family = 'FontAwesome'

tag-icon = '\f02b'
folder-icon = '\f114'
folder-opened-icon = '\f115'
rename-icon = '\f040'
remove-icon = '\f00d'
