node_modules/
.idea/
build/
.vscode/
npm-debug.log
typings/
.publish/
yarn.lock
.DS_Store

**/*.js.map

demo/**/*.js
demo/**/*.d.ts
demo/**/*.css

src/**/*.js
src/**/*.d.ts

*.js
*.d.ts

!.config/*.js

bundles

demo-build

factories
*.ngfactory.ts
*.shim.ts

yarn.lock
yarn-error.log

*.metadata.json

#Untrack editors files
.*.swp
