.idea/
demo
demo-build
factories
.publish/
.git
.vscode
yarn.lock

gulpfile.js
tsconfig-aot.json
tsconfig.json
tslint.json
webpack.config.js

*.ts
*.js.map
!*.d.ts

src/**/*.ts
!src/**/*.d.ts
!src/**/*.js.map
