<ul *ngIf="tree" class="tree">
  <li>
    <div (contextmenu)="showMenu($event)" [drag]="element" [tree]="tree">
      <div class="folding" (click)="switchFolding($event, tree)" [ngClass]="foldingType(tree)"></div>
      <div href="#" class="node-value" *ngIf="!edit">{{tree.value}}</div>
      <input type="text" class="node-value" editable [nodeValue]="tree.value" (valueChanged)="applyNewValue($event, tree)" *ngIf="edit"/>
    </div>

    <node-menu *ngIf="isMenuVisible" 
      (removeSelected)="onRemoveSelected()" 
      (renameSelected)="onRenameSelected()" 
      (newSelected)="onNewSelected($event)"></node-menu>

    <template [ngIf]="isNodeExpanded()">
            <ng2-tree *ngFor="let child of tree.children; let position = index" [parent]="tree" [positionRelativelyToParent]="position" [tree]="child" (nodeRemoved)="onChildRemoved($event)"></ng2-tree>
    </template>
  </li>
</ul>