@import '../common/styles/colors'
@import '../common/styles/fonts'

.node-menu
  position relative
  width 150px

  .node-menu-content
    width 100%
    padding 5px
    position absolute
    background-color node-menu-background
    border-radius 5%
    color primary-font-color
    font-family primary-font-family

    li
      list-style none
      padding 3px

      &:hover
        border-radius 5%
        opacity unset
        cursor pointer
        background-color node-menu-active-item
        transition background-color 0.2s ease-out

      .fa
        width 16px
        height 16px

      .node-menu-item-value
        margin-left 5px
