.tree-demo-app
  margin auto
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;

  .tree-container
    float left
    vertical-align top
    width 500px

    p
      color #40a070
      font-size 2em
