.node-menu
  position relative
  width 100px

  .node-menu-content
    width 100%
    padding-left 0
    position absolute
    background-color node-menu-background
    box-shadow 2px 4px 8px

    li
      &:hover
        opacity unset
        cursor pointer
        background-color node-menu-active-item
