@import colors
@import menu

node-expanded-symbol = '[-]'
node-collapsed-symbol = '[+]'
leaf-node-symbol = '\25cf' //black circle

li
    padding 0
    margin 0
    list-style none

.tree
    font-family monospace

    li
        padding 3px 0
        list-style none

    .folding
        cursor pointer
        padding 0 5px 0 5px
        font-weight bold
        color folding-color

        &.node-expanded
            &:after
                content node-expanded-symbol

        &.node-collapsed
            &:after
                content node-collapsed-symbol


        &.node-leaf
            cursor default

            &:after
                content leaf-node-symbol

      .node-value
        font-weight bold
        color node-value-color
