.tree {
    font-family: monospace;
}

.tree li {
    padding: 3px 0;
    list-style: none;
}

.tree .folding {
    cursor: pointer;
    padding: 0 5px 0 5px;
    font-weight: bold;
    color: #0b97c4;
}

.tree .folding.node-expanded:after {
    content: '[-]';
}

.tree .folding.node-collapsed:after {
    content: '[+]';
}

.tree .folding.leaf {
    cursor: default;
}
.tree .folding.leaf:after {
    content: '\25cf';
}

.tree .node-value {
    font-weight: bold;
    color: #8A6343;
}