<div class="node-menu">
  <ul class="node-menu-content">
    <li (click)="onNew($event)">
      <i class="fa fa-tag"></i>
      <span class="node-menu-item-value">New tag</span>
    </li>
    <li (click)="onNew($event, true)">
      <i class="fa fa-folder-o"></i>
      <span class="node-menu-item-value">New folder</span>
    </li>
    <li (click)="onRename($event)">
      <i class="fa fa-pencil"></i>
      <span class="node-menu-item-value">Rename</span>
    </li>
    <li (click)="onRemove($event)">
      <i class="fa fa-remove"></i>
      <span class="node-menu-item-value">Remove</span>
    </li>
  </ul>
</div>